<form (submit)="updateActiveSources($event)">
  <ul>
    <li *ngFor="let source of (videoSourcesService.sources$ | async)">
      <label>
        <input
          aria-label="Active state of video source"
          type="checkbox"
          [id]="source.id"
          [checked]="source.active"
          (change)="checkboxChanged($event)"/>
        {{source.name}}
      </label>
    </li>
  </ul>

  <button [disabled]="!showSourcesSaveBtn" aria-label="Save active sources" type="submit">
    Save
  </button>
</form>


<!-- <button (click)="addSource()">Add</button>
<button (click)="deleteSource()">Delete</button> -->
